<header class="header">
  <div class="container">
    <div class="logo">
      <img ngSrc="assets/images/logo.png" alt="logo" height="39" width="113">
    </div>
    <nav class="nav">
      <ul class="nav-items">
        <li class="nav-item">
          <a href="#">Главная</a>
        </li>
        <li class="nav-item">
          <a href="#cars">Автомобили</a>
        </li>
        <li class="nav-item">
          <a href="#price">Бронирование авто</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="main" [ngStyle]="bgPos">
  <div class="container">
    <div class="main-info">
      <h1 class="title">Аренда премиальных автомобилей</h1>
      <div class="main-text">
        В нашем клубе имеется солидная коллекция спортивных автомобилей — от достаточно распространенных
        серийных машин до настоящего гоночного эксклюзива. Воспользуйтесь уникальной возможностью побывать за
        рулем настоящей легенды и узнать, на что она способна за пределами гоночной трассы!
      </div>
    </div>
    <div class="main-action" id="main-action">
      <button class="button" (click)="goScroll(cars)">Посмотреть автомобили</button>
    </div>
  </div>
</section>

<section class="car" id="cars" #cars>
  <div class="container">
    <h2 class="sub-title">Наш автопарк</h2>

    <div class="car-toggle">
      <div [ngClass]="{active: category === 'sport'}" (click)="toggleCategory('sport')">Sport</div>
      <div [ngClass]="{active: category === 'luxury'}" (click)="toggleCategory('luxury')">Luxury</div>
    </div>
    <div class="car-items">

      <div class="car-item" *ngFor="let car of carsData">
        <div class="car-item-img">
          <img class='item-img' ngSrc="{{car.image}}" alt="1" height="246" width="384">
        </div>
        <div class="car-item-title">
          {{car.name}}
        </div>
        <div class="car-item-info">
          <div class="car-item-point">
            <img ngSrc="assets/images/privod.svg" alt="gear" height="35" width="35">
            <div>Привод</div>
            <div>{{car.gear}}</div>
          </div>
          <div class="car-item-point">
            <img ngSrc="assets/images/dvig.svg" alt="dvig" height="34" width="34">
            <div>Двигатель</div>
            <div>{{car.engine}} л.с</div>
          </div>
          <div class="car-item-point">
            <img ngSrc="assets/images/place.svg" alt="place" height="34" width="34">
            <div>Кол-во мест</div>
            <div>{{car.places}}</div>
          </div>
        </div>
        <div class="car-item-action">
          <button class="button car-button" (click)="goScroll(price, car)">ЗАбронировать</button>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="price" id="price" #price>
  <div class="container">
    <h2 class="sub-title">Узнать цену и забронировать</h2>
    <div class="price-text">
      Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования
    </div>
    <form class="price-form" action="" [formGroup]="priceForm">
      <input class="price-input" id="name" placeholder="Ваше имя" type="text" formControlName="name">
      <input class="price-input" id="tel" placeholder="Ваше телефон" type="text" formControlName="tel">
      <input class="price-input" id="car" placeholder="Автомобиль, который вас интересует" type="text" formControlName="car">
      <button class="button" type="button" id="price-action" (click)="onSubmit()" [disabled]="!priceForm.valid">Узнать цену</button>
    </form>
    <img class="price-background-img" ngSrc="assets/images/rolls.png" alt="rolls" height="506" width="969"  [ngStyle]="trans">
  </div>

</section>

<footer class="footer">
  <div class="container">
    <div class="logo">
      <img ngSrc="assets/images/logo.png" alt="logo" height="39" width="113">
    </div>
    <div class="rights">Все права защищены</div>
  </div>
</footer>
